* {
    text-align: center;
    font-family: 'Tangerine', cursive;

}

body {
    background-image: url("../images/Screen\ Shot\ 2018-12-08\ at\ 15.00.50.png");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: color;
    background-size: 100%;
    font-family: 'Tangerine', cursive;
}

.container {
    margin: 2% 5% 4% 5%;
    height: 32em;
}

#leftCol, #rightCol{
    background-color: white;
    width:47%;
    height:29em;
    margin: 2% 1%;
    display: inline-flex;
}

#rightCol {
    display: inline-block;
    width: 32%;
}

h2 {
    display: inline-flex;
    height: 5px;
}


iframe {
    width: 100%;
    height: 100%;
    border-radius: 25px;
  
}

#iFrameDiv {
    margin-top: 1%;
    margin-right: -11%;
    width: 94%;
    height: 33em;
}

footer {
    margin-top: 5%;
}