* {
    text-align: center;
    font-family: 'Tangerine', cursive;
    box-sizing: border-box;

}

body {
    background-image: url("../images/Screen\ Shot\ 2018-12-08\ at\ 15.00.50.png");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-blend-mode: color;
    background-size: 100%;
    font-family: 'Tangerine';
}

.container {
    height: 39em;
}

#searchRow {
    background-color: rgba(300, 400, 800, 0.3);
    color: black;
    margin: 2% 39%;
}

h1 {
    font-size: 2.7em;
    font-weight: bold;
    
}

#search {
    font-size: 1.8em;
    width: 200px;
}

label {
    font-size: 2em;
    font-weight: bold;
}

.column {
    background-color: yellow;
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


#leftCol {
    /* background-color: yellow; */
    /* margin: 2% 0% 0% -7%;
    text-align: center;
    height: 35em;
    width: 34%;
    display: inline-block; */
}

#recipeContainer {
    height: 35em;
    width: 34%;
    display: inline-block;
}

#rightCol {
    /* display: inline-block;
    width: 32%; */
}

h2 {
    font-size: 1.7em;
}

/* iframe {
    width: 100%;
    height: 100%;
    border-radius: 25px;
  
} */

/* #iFrameDiv {
    margin-top: 1%;
    margin-right: -11%;
    width: 94%;
    height: 33em;
} */

footer {
    margin-top: 0%;
}

.image {
    width: 20%;
}

.recipe {
    border-style: solid;
}

#map {

    height: 100%;


}