* {
    text-align: center;
}

.container {
    background-color: darkgrey;
    margin: 2% 5% 4% 5%;
    height: 32em;
}

#leftCol, #rightCol{
    background-color: white;
    width:47%;
    height:29em;
    margin: 2% 1%;
    display: inline-flex;
}

h2 {
    display: inline-flex;
    height: 5px;
}


/* iframe {
    margin: 1% 1%;
    width: 45%;
    height: 27em;

} */


